* {
  font-family:'Lato',sans-serif;
}

pre {
  font-family:'Lato',sans-serif;
  white-space: pre-wrap;
  font-family: 'Source Code Pro', monospace;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

body {
  background-color: #9921e8;
  background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%);
  width: 100%;
  min-height: 100vh; 
  margin: 0;
  display: flex;
}

.all-wrapper {
  margin: auto;
  word-break: break-all;
}

header {
  margin-left: auto;
  margin-right: auto; 
  max-width: 32rem; 
  height: auto;
}

.header-h1 {
  margin: 0;
  padding-top: 2rem;
  color: #ffffff; 
  font-size: 2.25rem;
  line-height: 2.5rem; 
  font-weight: 700; 
  text-align: center; 
}

main {
  padding: 2rem; 
  margin-left: auto;
  margin-right: auto; 
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; 
  background-color: #ffffff; 
  max-width: 40rem; 
  border-radius: 0.5rem; 
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); 
}

.main-p-default {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.main-sec-p {
  margin-block: 0.5em;
  color: #4B5563;
}

.main-purple-600 {
  color: #7C3AED;
}

.main-sec1-h3 {
  font-size: 1.5rem;
  line-height: 2rem; 
  font-weight: 700; 
  margin-top: 0;
}

.main-sec1-cur-qs {
  align-items: center;
}

.main-sec2 {
  margin-top: 10px;
}

.main-sec2-wrapper {
  display: flex; 
  flex-direction: column; 
}

.main-sec2-col {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.main-sec2-col-input {
  padding: 0.75rem;
  background-color: #E5E7EB; 
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
  transition-duration: 500ms; 
  color: #818da0; 
  border-radius: 0.25rem; 
  border-bottom-width: 4px; 
  border-color: #D1D5DB; 
  border: 1px solid;
  box-shadow: 0 5px 7px -1px rgba(112, 112, 112, 0.1), 0 2px 4px -1px rgba(150, 150, 150, 0.05); 
  width: 60%;
}

.main-sec2-col-input:focus {
  outline: 0;
  background-color: #ffffff;
  border-color: #7C3AED; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.main-sec2-col-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  background-color: #7C3AED; 
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
  transition-duration: 200ms; 
  color: #ffffff; 
  font-weight: 700; 
  border-radius: 0.25rem; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  border: 1px solid #4C1D95;
  cursor: pointer;
  width: 30%;
}

.main-sec2-col-button:hover {
  background-color: #6D28D9; 
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

footer {
  color: #ffffff; 
  font-size: 2.25rem;
  line-height: 2.5rem; 
  font-weight: 700; 
  text-align: center; 
}

#current-querystring-dot {
  margin-top: 0.5em;
  height: 1.25rem;
  width: 1.25rem;
  background-color: #DC2626;
  border-radius: 50%;
  display: inline-block;
}

#current-querystring {
  color: #DC2626
}

#querystring-wrapper {
  display: flex;
  flex-direction: column;
}